@media screen and (max-width: 900px) {
    .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .home-component {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .home-content-div {
        height: 100%;
        width: auto;
    }
    .myImg-div img {
        display: none;
    }
    .footer-component {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social-icons-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    /* about page */

    .about-content-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: -10px;
    }
    .img {
        width: 38vw;
        height: auto;
    }
    .about-android, .about-cp  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .about-web {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .about-cp {
        text-align: center;
    }
}